Repository SurinaCS/lmnh-plant-sensors, pull requests merged in 2024-11, with the labels that each got.

#15 Setup completed
  .DS_Store
  .gitignore
Labels: setup

#17 .DS_Store removed
  .DS_Store
Labels: setup

#19 Delete README.MD
  README.MD
Labels: setup

#36 Terraformed ETL lambda
  terraform/README.MD
  terraform/main.tf
  terraform/variables.tf
Labels: documentation, terraform

#40 Asyncio implementation
  pipeline/extract.py
  requirements.txt
Labels: pipeline

#42 #7 terraform archive lambda
  terraform/README.MD
  terraform/main.tf
  terraform/variables.tf
Labels: documentation, terraform, archive

#44 Terraform code for ECS - for dashboard
  terraform/README.MD
  terraform/main.tf
  terraform/variables.tf
Labels: documentation, terraform, dashboard

#66 fixing issue with null value discard row
  pipeline/test_transform.py
Labels: bug, pipeline, testing

#67 Add GitHub actions
  .github/badges/pylint.svg
  .github/badges/test.svg
  .github/workflows/development.yaml
  README.md
  pipeline/requirements.txt
  pipeline/test_load.py
Labels: documentation

#68 Create Dockerfile for ETL pipeline
  .github/badges/pylint.svg
  pipeline/Dockerfile
  pipeline/etl.py
Labels: pipeline

#74 Create archive table
  pipeline/Dockerfile
  pipeline/connect.sh
  pipeline/schema.sql
Labels: archive

#76 Set up pipeline on cloud, added ecr URI, updated etl for lambda_handler
  .gitignore
  pipeline/Dockerfile
  pipeline/etl.py
  pipeline/requirements.txt
  terraform/main.tf
Labels: terraform, pipeline

#84 #83 adjust etl schema
  .github/badges/test.svg
  pipeline/extract.py
  pipeline/schema.sql
  terraform/main.tf
Labels: enhancement, pipeline

#91 #55 streamlit dash
  dashboard/db_queries.py
  dashboard/dockerfile
  dashboard/requirements.txt
  dashboard/streamlit.py
  dashboard/test_queries.py
Labels: dashboard

#94 #89 test queries
  .github/badges/test.svg
  dashboard/db_queries.py
  dashboard/test_queries.py
  dashboard/wireframe.png
Labels: testing, dashboard

#93 Test archive functionality
  .github/badges/pylint.svg
  .github/badges/test.svg
  archive/archive.py
  archive/test_archive.py
  dashboard/dashboard.py
  dashboard/dockerfile
  dashboard/test_queries.py
  pipeline/extract.py
  pipeline/load.py
  pipeline/test_extract.py
  pipeline/test_load.py
  pipeline/test_transform.py
  requirements.txt
Labels: archive, testing

#98 Add image urls to plants
  pipeline/schema.sql
Labels: setup

#100 Include plant images on dashboard
  .github/badges/pylint.svg
  archive/archive.py
  dashboard/dashboard.py
  dashboard/db_queries.py
Labels: dashboard

#104 #89 test queries
  .github/badges/pylint.svg
  .github/badges/test.svg
  dashboard/db_queries.py
  dashboard/test_queries.py
Labels: testing, dashboard

#107 fixing table of contents links
  README.md
Labels: bug, documentation

#113 #108 terraform readme
  terraform/README.MD
Labels: documentation, terraform

#114 #102 add plant fact
  .github/badges/pylint.svg
  .github/badges/test.svg
  README.md
  archive/archive.py
  archive/test_archive.py
  dashboard/README.MD
  dashboard/dashboard.py
  dashboard/db_queries.py
  dashboard/requirements.txt
  dashboard/test_queries.py
  pipeline/test_load.py
  requirements.txt
Labels: dashboard

#119 #111 update queries tests
  .github/badges/test.svg
  dashboard/dashboard.py
  dashboard/db_queries.py
  dashboard/test_dashboard.py
  dashboard/test_queries.py
Labels: testing, dashboard

#122 Add dashboard demo gif to README.md
  README.md
  images/.gitattributes
  images/plants.gif
Labels: enhancement
